<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serving static files</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>
    <div class="card">
        <h2>Welcome stranger</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, illum? Error quibusdam quo saepe similique?
            Sequi aliquam distinctio nihil, cumque numquam ea, eligendi, ipsam quasi consequuntur quidem veritatis
            deleniti quibusdam!</p>
    </div>
</body>

</html>